html {
  height: 100%;
}

body {
  height: 100%;
  background-image: url(../img/background-img5.jpg);
  background-repeat: round;
  background-size: cover;
}

#root {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  font-family: Poppins-Regular, sans-serif;
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 2fr;
  gap: 0.5rem;
  grid-template-areas:
    "header header header header header header header header header header header header"
    "ranking ranking board board board board board board chat chat chat chat";
}

.header-component {
  grid-area: header;
  background-color: rgb(243, 230, 230);

  /*background-color: #b92b27;
  background: linear-gradient(    to right,    rgb(185, 44, 39, 0.5),    rgb(21, 101, 192, 0.5)  );
  */
}

.ranking-component {
  grid-area: ranking;
  background-color: rgb(243, 230, 230);

  /* background-color: #b92b27;
  background: linear-gradient(
    to right,
    rgb(185, 44, 39, 0.5),
    rgb(21, 101, 192, 0.5)
  ); */
}

.board-component {
  grid-area: board;
  background-color: rgb(243, 230, 230);

  /* background-color: #b92b27;
  background: linear-gradient(
    to right,
    rgb(185, 44, 39, 0.5),
    rgb(21, 101, 192, 0.5)
  ); */
}

.chat-component {
  grid-area: chat;
  background-color: rgb(243, 230, 230);

  /*background-color: #b92b27;
  background: linear-gradient(    to right,    rgb(185, 44, 39, 0.5),    rgb(21, 101, 192, 0.5)  );
  */
}

@media only screen and (max-width: 768px) {
  .container {
    padding-top: 42vh;
    padding-bottom: 4vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.2fr 1.8fr 1.2fr;
    grid-template-areas:
      "header header"
      "board board"
      "ranking chat";
  }
}

.boxbox {
  padding: 10px 20px;
  border: none;
  position: relative;
}
.boxbox:after,
.boxbox:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 3px solid rgb(0, 0, 0);
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}
.boxbox:after {
  -webkit-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  -moz-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  -o-transform: translate(0px, 0px);
}
.boxbox:before {
  -webkit-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  -moz-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  -o-transform: translate(0px, 0px);
}
.boxbox:hover:after {
  -webkit-transform: translate(3px, 3px);
  transform: translate(3px, 3px);
  -moz-transform: translate(3px, 3px);
  -ms-transform: translate(3px, 3px);
  -o-transform: translate(3px, 3px);
  border: 2px solid rgb(11, 204, 188);
}
.boxbox:hover:before {
  -webkit-transform: translate(-3px, -3px);
  transform: translate(-3px, -3px);
  -moz-transform: translate(-3px, -3px);
  -ms-transform: translate(-3px, -3px);
  -o-transform: translate(-3px, -3px);
  border: 2px solid rgb(28, 207, 4);
}
